* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: white;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.paddingWrapper {
  padding: 3rem 4rem;
}

/* styling nav */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 2rem;
  background-color: white;
}

.navLogo {
  width: 12rem;
  cursor: pointer;
}

.navMenu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navMenuItem {
  margin-left: 2rem;
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
  color: black;
}

.navMenuItem:hover {
  color: #eb1700;
  cursor: pointer;
}

.navBtn {
  background-color: #eb1700;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.4rem 2.4rem;
  border-radius: 2.4rem;
  border: none;
}

.navBtn:hover {
  background-color: #f25144;
  cursor: pointer;
}

/* styling title */

.title {
  background-image: linear-gradient(rgba(6, 78, 82, 0.4), rgba(6, 78, 82, 0.6)),
    url(https://i0.wp.com/doordash.engineering/wp-content/uploads/2021/10/frontpagebg-1.png?fit=1440%2C249&ssl=1);
  height: 30vh;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2rem;
}

.titleHeader {
  color: white;
  font-size: 4rem;
  text-transform: capitalize;
  font-weight: 600;
}

.titleText {
  color: white;
  font-size: 2.2rem;
  font-weight: 400;
}

/* styling hero */

.hero {
  display: flex;
  align-items: center;
}

.heroLeft {
  flex: 1;
}
.heroImg {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.heroRight {
  flex: 1;
  background-color: #028389;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 60vh;
}

.heroTitle {
  font-size: 3rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
  width: 60%;
}

.heroText {
  width: 80%;
  line-height: 1.8;
}
/* .heroRightBg {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 30% 100%);
  position: absolute;
  height: 60vh;
  width: 100%;
  top: 10%;
  z-index: 2;
  left: 10%;
} */

/* styling pillars */

.pillars {
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pillarTitle {
  font-size: 1.8rem;
  text-align: center;
  text-transform: capitalize;
  color: #028389;
}

.pillarCards {
  display: flex;
  flex-wrap: wrap;
}

.pillarCard {
  width: 45%;
  margin: 2rem 1rem;
  -webkit-box-shadow: 0px 7px 18px -3px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 7px 18px -3px rgba(0, 0, 0, 0.65);
}

.pillarCard h2 {
  text-align: center;
  color: white;
  background-color: #028389;
  padding: 0.5rem 0;
  font-weight: 700;
}

.pillarCard p {
  padding: 2rem 4rem;
  text-align: center;
  color: grey;
}

/* styling subscribe section */

.subscribe {
  display: flex;
  align-items: center;
}

.subscribeLeft {
  flex: 1;
  background-color: green;
  height: 100%;
}

.subscribeRight {
  flex: 1;
}
